@font-face {
    font-family: 'custom-icons';
    src: url('fonts/custom-icons.eot?rqvf6r');
    src: url('fonts/custom-icons.eot?rqvf6r#iefix') format('embedded-opentype'), url('fonts/custom-icons.woff2?rqvf6r') format('woff2'), url('fonts/custom-icons.ttf?rqvf6r') format('truetype'), url('fonts/custom-icons.woff?rqvf6r') format('woff'), url('fonts/custom-icons.svg?rqvf6r#custom-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    /* font-display: block; */
}

.icons-selector [class^="ci-"],
.icons-selector [class*=" ci-"],
[class^="ci-"],
[class*=" ci-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'custom-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* line-height: 1; */
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ci-envelope:before {
    content: "\e93c";
}

.ci-envelope_solid:before {
    content: "\e93d";
}

.ci-at-sign:before {
    content: "\e93e";
}

.ci-contact-mail-solid:before {
    content: "\e93f";
}

.ci-contact-mail:before {
    content: "\e940";
}

.ci-back-pain:before {
    content: "\e936";
}

.ci-stress:before {
    content: "\e937";
}

.ci-pain-alt-body:before {
    content: "\e938";
}

.ci-pain-alt:before {
    content: "\e939";
}

.ci-pain-outline:before {
    content: "\e93a";
}

.ci-pain:before {
    content: "\e93b";
}

.ci-dollar:before {
    content: "\e933";
}

.ci-euro-currency:before {
    content: "\e934";
}

.ci-terms-alt:before {
    content: "\e935";
}

.ci-terms-conditions:before {
    content: "\e92e";
}

.ci-conditions:before {
    content: "\e92f";
}

.ci-terms:before {
    content: "\e930";
}

.ci-privacy-alt:before {
    content: "\e931";
}

.ci-privacy-policy:before {
    content: "\e932";
}

.ci-therapy_outline:before {
    content: "\e92b";
}

.ci-therapy:before {
    content: "\e92c";
}

.ci-massage-therapist:before {
    content: "\e92d";
}

.ci-syringe-alt:before {
    content: "\e928";
}

.ci-dryneedling-alt:before {
    content: "\e929";
}

.ci-acupuncture:before {
    content: "\e92a";
}

.ci-rocket:before {
    content: "\e91b";
}

.ci-needling-dry:before {
    content: "\e926";
}

.ci-cupping:before {
    content: "\e927";
}

.ci-taping:before {
    content: "\e924";
}

.ci-taping-vertical:before {
    content: "\e925";
}

.ci-syringe:before {
    content: "\e909";
}

.ci-menu:before {
    content: "\e906";
}

.ci-accessibility:before {
    content: "\e900";
}

.ci-ambulance:before {
    content: "\e901";
}

.ci-cloud-check:before {
    content: "\e902";
}

.ci-coin-euro:before {
    content: "\e903";
}

.ci-coughing:before {
    content: "\e904";
}

.ci-cpr:before {
    content: "\e905";
}

.ci-dry-needling:before {
    content: "\e907";
}

.ci-exercise_bicycle:before {
    content: "\e908";
}

.ci-file-excel:before {
    content: "\e90a";
}

.ci-text-file:before {
    content: "\e90b";
}

.ci-file-word:before {
    content: "\e90c";
}

.ci-headache:before {
    content: "\e90d";
}

.ci-health_worker_form:before {
    content: "\e90e";
}

.ci-hospital:before {
    content: "\e90f";
}

.ci-hour-glass:before {
    content: "\e910";
}

.ci-mobile_clinic:before {
    content: "\e911";
}

.ci-no-smoking:before {
    content: "\e912";
}

.ci-physio-therapy:before {
    content: "\e913";
}

.ci-profile:before {
    content: "\e914";
}

.ci-pushpin:before {
    content: "\e915";
}

.ci-questions:before {
    content: "\e916";
}

.ci-running:before {
    content: "\e917";
}

.ci-stethoscope:before {
    content: "\e918";
}

.ci-surgery:before {
    content: "\e919";
}

.ci-swim:before {
    content: "\e91a";
}

.ci-thermometer:before {
    content: "\e91c";
}

.ci-ticket:before {
    content: "\e91d";
}

.ci-user:before {
    content: "\e91e";
}

.ci-users:before {
    content: "\e91f";
}

.ci-walk_supported:before {
    content: "\e920";
}

.ci-walking:before {
    content: "\e921";
}

.ci-weights:before {
    content: "\e922";
}

.ci-youtube:before {
    content: "\e923";
}

.ci-alert:before {
    content: "\f02d";
}

.ci-align_to_top:before {
    content: "\f08a";
}

.ci-align_to_bottom:before {
    content: "\f08e";
}

.ci-alignment-unalign:before {
    content: "\f08b";
}

.ci-arrow-down:before {
    content: "\f03f";
}

.ci-arrow-left:before {
    content: "\f040";
}

.ci-arrow-right:before {
    content: "\f03e";
}

.ci-arrow-small-down:before {
    content: "\f0a0";
}

.ci-arrow-small-left:before {
    content: "\f0a1";
}

.ci-arrow-small-right:before {
    content: "\f071";
}

.ci-arrow-small-up:before {
    content: "\f09f";
}

.ci-arrow-up:before {
    content: "\f03d";
}

.ci-beer:before {
    content: "\f069";
}

.ci-book:before {
    content: "\f007";
}

.ci-bookmark:before {
    content: "\f07b";
}

.ci-briefcase:before {
    content: "\f0d3";
}

.ci-broadcast:before {
    content: "\f048";
}

.ci-browser:before {
    content: "\f0c5";
}

.ci-bug:before {
    content: "\f091";
}

.ci-calendar:before {
    content: "\f068";
}

.ci-check:before {
    content: "\f03a";
}

.ci-checklist:before {
    content: "\f076";
}

.ci-chevron-down:before {
    content: "\f0a3";
}

.ci-chevron-left:before {
    content: "\f0a4";
}

.ci-chevron-right:before {
    content: "\f078";
}

.ci-chevron-up:before {
    content: "\f0a2";
}

.ci-circle-slash:before {
    content: "\f084";
}

.ci-circuit-board:before {
    content: "\f0d6";
}

.ci-clippy:before {
    content: "\f035";
}

.ci-clock:before {
    content: "\f046";
}

.ci-cloud-download:before {
    content: "\f00b";
}

.ci-cloud-upload:before {
    content: "\f00c";
}

.ci-code:before {
    content: "\f05f";
}

.ci-color-mode:before {
    content: "\f065";
}

.ci-comment:before {
    content: "\f02b";
}

.ci-comment-discussion:before {
    content: "\f04f";
}

.ci-credit-card:before {
    content: "\f045";
}

.ci-dash:before {
    content: "\f0ca";
}

.ci-dashboard:before {
    content: "\f07d";
}

.ci-database:before {
    content: "\f096";
}

.ci-device-camera:before {
    content: "\f056";
}

.ci-device-camera-video:before {
    content: "\f057";
}

.ci-device-desktop:before {
    content: "\f27c";
}

.ci-device-mobile:before {
    content: "\f038";
}

.ci-diff:before {
    content: "\f04d";
}

.ci-diff-added:before {
    content: "\f06b";
}

.ci-diff-ignored:before {
    content: "\f099";
}

.ci-diff-modified:before {
    content: "\f06d";
}

.ci-diff-removed:before {
    content: "\f06c";
}

.ci-diff-renamed:before {
    content: "\f06e";
}

.ci-ellipsis:before {
    content: "\f09a";
}

.ci-eye:before {
    content: "\f04e";
}

.ci-file-binary:before {
    content: "\f094";
}

.ci-file-code:before {
    content: "\f010";
}

.ci-file-directory:before {
    content: "\f016";
}

.ci-file-media:before {
    content: "\f012";
}

.ci-file-pdf:before {
    content: "\f014";
}

.ci-file-submodule:before {
    content: "\f017";
}

.ci-file-symlink-directory:before {
    content: "\f0b1";
}

.ci-file-symlink-file:before {
    content: "\f0b0";
}

.ci-file-text:before {
    content: "\f011";
}

.ci-file-zip:before {
    content: "\f013";
}

.ci-flame:before {
    content: "\f0d2";
}

.ci-fold:before {
    content: "\f0cc";
}

.ci-gear:before {
    content: "\f02f";
}

.ci-gift:before {
    content: "\f042";
}

.ci-gist:before {
    content: "\f00e";
}

.ci-gist-secret:before {
    content: "\f08c";
}

.ci-git-branch:before {
    content: "\f020";
}

.ci-git-commit:before {
    content: "\f01f";
}

.ci-git-compare:before {
    content: "\f0ac";
}

.ci-git-merge:before {
    content: "\f023";
}

.ci-git-pull-request:before {
    content: "\f009";
}

.ci-globe:before {
    content: "\f0b6";
}

.ci-graph:before {
    content: "\f043";
}

.ci-heart:before {
    content: "\2665";
}

.ci-history:before {
    content: "\f07e";
}

.ci-home:before {
    content: "\f08d";
}

.ci-horizontal-rule:before {
    content: "\f070";
}

.ci-hourglass:before {
    content: "\f09e";
}

.ci-hubot:before {
    content: "\f09d";
}

.ci-inbox:before {
    content: "\f0cf";
}

.ci-info:before {
    content: "\f059";
}

.ci-issue-closed:before {
    content: "\f028";
}

.ci-issue-opened:before {
    content: "\f026";
}

.ci-issue-reopened:before {
    content: "\f027";
}

.ci-jersey:before {
    content: "\f019";
}

.ci-jump-down:before {
    content: "\f072";
}

.ci-jump-left:before {
    content: "\f0a5";
}

.ci-jump-right:before {
    content: "\f0a6";
}

.ci-jump-up:before {
    content: "\f073";
}

.ci-key:before {
    content: "\f049";
}

.ci-keyboard:before {
    content: "\f00d";
}

.ci-law:before {
    content: "\f0d8";
}

.ci-light-bulb:before {
    content: "\f000";
}

.ci-link:before {
    content: "\f05c";
}

.ci-link-external:before {
    content: "\f07f";
}

.ci-list-ordered:before {
    content: "\f062";
}

.ci-list-unordered:before {
    content: "\f061";
}

.ci-location:before {
    content: "\f060";
}

.ci-lock:before {
    content: "\f06a";
}

.ci-logo-github:before {
    content: "\f092";
}

.ci-mail:before {
    content: "\f03b";
}

.ci-mail-read:before {
    content: "\f03c";
}

.ci-mail-reply:before {
    content: "\f051";
}

.ci-mark-github:before {
    content: "\f00a";
}

.ci-markdown:before {
    content: "\f0c9";
}

.ci-megaphone:before {
    content: "\f077";
}

.ci-mention:before {
    content: "\f0be";
}

.ci-microscope:before {
    content: "\f089";
}

.ci-milestone:before {
    content: "\f075";
}

.ci-mirror:before {
    content: "\f024";
}

.ci-mortar-board:before {
    content: "\f0d7";
}

.ci-move-down:before {
    content: "\f0a8";
}

.ci-move-left:before {
    content: "\f074";
}

.ci-move-right:before {
    content: "\f0a9";
}

.ci-move-up:before {
    content: "\f0a7";
}

.ci-mute:before {
    content: "\f080";
}

.ci-no-newline:before {
    content: "\f09c";
}

.ci-octoface:before {
    content: "\f008";
}

.ci-organization:before {
    content: "\f037";
}

.ci-package:before {
    content: "\f0c4";
}

.ci-paintcan:before {
    content: "\f0d1";
}

.ci-pencil:before {
    content: "\f058";
}

.ci-person:before {
    content: "\f018";
}

.ci-pin:before {
    content: "\f041";
}

.ci-playback-fast-forward:before {
    content: "\f0bd";
}

.ci-playback-pause:before {
    content: "\f0bb";
}

.ci-playback-play:before {
    content: "\f0bf";
}

.ci-playback-rewind:before {
    content: "\f0bc";
}

.ci-plug:before {
    content: "\f0d4";
}

.ci-plus:before {
    content: "\f05d";
}

.ci-podium:before {
    content: "\f0af";
}

.ci-primitive-dot:before {
    content: "\f052";
}

.ci-primitive-square:before {
    content: "\f053";
}

.ci-pulse:before {
    content: "\f085";
}

.ci-puzzle:before {
    content: "\f0c0";
}

.ci-question:before {
    content: "\f02c";
}

.ci-quote:before {
    content: "\f063";
}

.ci-radio-tower:before {
    content: "\f030";
}

.ci-repo:before {
    content: "\f001";
}

.ci-repo-clone:before {
    content: "\f04c";
}

.ci-repo-force-push:before {
    content: "\f04a";
}

.ci-repo-forked:before {
    content: "\f002";
}

.ci-repo-pull:before {
    content: "\f006";
}

.ci-repo-push:before {
    content: "\f005";
}

.ci-rss:before {
    content: "\f034";
}

.ci-ruby:before {
    content: "\f047";
}

.ci-screen-full:before {
    content: "\f066";
}

.ci-screen-normal:before {
    content: "\f067";
}

.ci-search:before {
    content: "\f02e";
}

.ci-server:before {
    content: "\f097";
}

.ci-settings:before {
    content: "\f07c";
}

.ci-sign-in:before {
    content: "\f036";
}

.ci-sign-out:before {
    content: "\f032";
}

.ci-split:before {
    content: "\f0c6";
}

.ci-squirrel:before {
    content: "\f0b2";
}

.ci-star:before {
    content: "\f02a";
}

.ci-steps:before {
    content: "\f0c7";
}

.ci-stop:before {
    content: "\f08f";
}

.ci-sync:before {
    content: "\f087";
}

.ci-tag:before {
    content: "\f015";
}

.ci-telescope:before {
    content: "\f088";
}

.ci-terminal:before {
    content: "\f0c8";
}

.ci-three-bars:before {
    content: "\f05e";
}

.ci-tools:before {
    content: "\f031";
}

.ci-trashcan:before {
    content: "\f0d0";
}

.ci-triangle-down:before {
    content: "\f05b";
}

.ci-triangle-left:before {
    content: "\f044";
}

.ci-triangle-right:before {
    content: "\f05a";
}

.ci-triangle-up:before {
    content: "\f0aa";
}

.ci-unfold:before {
    content: "\f039";
}

.ci-unmute:before {
    content: "\f0ba";
}

.ci-versions:before {
    content: "\f064";
}

.ci-x:before {
    content: "\f081";
}

.ci-zap:before {
    content: "\26a1";
}